*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
nav{
    height: 100px;
    background-color: gray;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}
.nav-link{
    font-size: 25px;
    color: #ffffffb5;
    text-decoration: none;
    margin-right: 45px;
    transition: 0.3s ease;
}
.nav-link:last-child{
    margin-right: 0;
}
.nav-link:hover{
    color: blue;
}
nav .active{
    color: red;
}